# Useful Operators in Python

In [1]:
my_list = [1, 2, 3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [5]:
range(1, 10, 2)

range(1, 10, 2)

In [6]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [7]:
index_count = 0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [9]:
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [10]:
word = "abcde"

for index, letter in enumerate(word):
    print("At index {} the letter is {}".format(index, letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [11]:
my_list_1 = [1, 2, 3]
my_list_2 = ['a', 'b', 'c']

for item in zip(my_list_1, my_list_2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [12]:
my_list_1 = [1, 2, 3]
my_list_2 = ['a', 'b', 'c']
my_list_3 = [100, 200, 300]

for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

Let's check what will happen if we provide zip with sereal list of different length(-es)

In [13]:
my_list_1 = [1, 2, 3, 4, 5, 6]
my_list_2 = ['a', 'b', 'c']
my_list_3 = [100, 200, 300]

for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
list(zip(my_list_1, my_list_2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [15]:
'x' in [1, 2, 3]

False

In [16]:
'x' in ['x', 'y', 'z']

True

In [17]:
'a' in 'a word'

True

In [18]:
'my_key' in {'my_key': 345}

True

In [19]:
345 in {'my_key': 345}

False

In [20]:
345 in {'my_key': 345}.values()

True

In [21]:
my_list = [10, 20, 30, 40, 100]
min(my_list)

10

In [22]:
max(my_list)

100

In [23]:
from random import shuffle

In [24]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
shuffle(my_list) # inplace function

In [26]:
my_list

[10, 6, 7, 8, 3, 2, 1, 9, 5, 4]

In [27]:
from random import randint

In [28]:
randint(0, 100)

56

In [29]:
randint(0, 100)

72

In [30]:
my_num = randint(1,100)

In [31]:
my_num

73

In [32]:
input("Enter a number here: ")

Enter a number here: 5

'5'

In [33]:
name = input("Enter Your name: ")

Enter Your name: azi

In [34]:
n = input('Enter a number: ')

Enter a number: 5

In [35]:
type(n)

str

In [36]:
float(n)

5.0

In [37]:
int(n)

5

In [38]:
n = float(input('Enter a number: '))

Enter a number: 5

In [39]:
type(n)

float